@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
.window {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 10px 40px;
}
.quiz {
    margin-top: 20vh;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 30px 20px;
    width: 600px;
    height: fit-content;
    border-radius: 30px;
    user-select: none;
    box-shadow: 11px 10px 50px 1px rgba(34, 60, 80, 0.2);
}
.quiz ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px 30px;
    width: 100%;
}
.quiz ul li {
    width: 100%;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 14px;
}

.window h1 {
    color: #850f8d;
    padding: 0;
    margin: 0;
    font-size: 34px;
    align-self: flex-start;
    cursor: pointer;
}
.window h2 {
    font-family: "Roboto Mono", monospace;
    font-size: 26px;
}
.window h2 sup {
   font-style: italic;
   font-weight: 400;
}

.progress {
    height: 4px;
    align-self: flex-start;
    background-color: chartreuse;
    border-radius: 10px;
}

.result {
    margin-top: 30vh;
    width: 400px;
    height: fit-content;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.result h2 {
    text-align: center;
    margin: 0;
    padding: 0;
    color: chartreuse;
}