.window {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.slider {
    width: 300px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    height: 100%;
}
.slide {
    color: #fff;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.welcomeText {
    font-size: 45px;
    align-self: flex-start;
}
.welcomeText span {
    color: #850f8d;
   
}
.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40%;
    height: 84vh;
}

.FlipSlider {
    margin-top: 10vh;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flipSlide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 20px;
    color: #fff;
}
.flipSlide p {
    align-self: flex-start;
    font-style: italic;
}

.container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.secondBlock {
    user-select: none;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #850f8d;
    border-radius: 40px;
    box-shadow: 6px 8px 42px 30px rgba(34, 60, 80, 0.2);
}
.secondBlock h1 {
    color: #fff;
    font-size: 40px;
}

.guidePicture {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}
.guidePicture img {
    width: 70%;
    height: 100%;
    border-radius: 20px;
}
.guidePicture h2 {
    color: #fff;
}
.guideBtns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.guideBtns button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    font-weight: 500;
    font-size: large;
    padding: 5px 20px;
    transition: all .4s ease;
}
.guideBtns button p {
    padding: 0;
    margin: 0;
}
.guideBtns button img {
    width: 24px;
    height: 24px;
}
.toIdeas {
    position: absolute;
    top: 20vh;
    left: 0;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 4px 2px 31px 5px rgba(34, 60, 80, 0.2);
}
.toIdeas a {
    color: #850f8d;
    text-decoration: none;
    font-weight: 500;
}